<table id="quizzes">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.user.username if quiz.respond_to?(:user) && quiz.user %></td>
        <td><%= link_to quiz.title, quiz_path(quiz), data: { turbo: false } %></td>
        <td>
          <%= link_to 'Show', quiz_path(quiz), class: 'button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>